<a href="https://colab.research.google.com/github/najmamah/AI-and-machine-learning/blob/main/Machine_Learning_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Preparing Mexico Data

In [1]:
import pandas as pd

## Import

The first part of any data science project is preparing your data, which means making sure its in the right place and format for you to conduct your analysis. The first step of any data preparation is importing your raw data and cleaning it.

If you look in the small-data directory on your machine, you'll see that the data for this project comes in three CSV files: mexico-real-estate-1.csv, mexico-real-estate-2.csv, and mexico-real-estate-3.csv.

**Task 1.2.1:** Read these three files into three separate DataFrames named df1, df2, and df3, respectively.

What's a DataFrame?
data frame is data displayed in format as table.

What's a CSV file?

shorts comma separated value, comma file stores value in tabular format.

Read a CSV file into a DataFrame using pandas.

In [3]:
# Load CSV files into DataFrames
df1 = pd.read_csv("/content/sample_data/mexico-real-estate-1.csv")
df2 = pd.read_csv("/content/sample_data/mexico-real-estate-2.csv")
df3 = pd.read_csv("/content/sample_data/mexico-real-estate-3.csv")
# Print object type and shape for DataFrames
print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
print()
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
print()
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)

df1 type: <class 'pandas.core.frame.DataFrame'>
df1 shape: (700, 6)

df2 type: <class 'pandas.core.frame.DataFrame'>
df2 shape: (700, 6)

df3 type: <class 'pandas.core.frame.DataFrame'>
df3 shape: (700, 5)

## Clean `df1`

Now that you have your three DataFrames, it's time to inspect them to see if they need any cleaning. Let's look at them one-by-one.

In [8]:
# Print df1 shape
print("df1.shape",df1.shape)
#print(df1.shape)
# Print df1 info
print("df1.info",df1.info)
#print(df1.info)
# Get output of df1 head

df1.shape (700, 6)
df1.info <bound method DataFrame.info of     property_type                            state        lat         lon  \
0           house                 Estado de México  19.560181  -99.233528
1           house                       Nuevo León  25.688436 -100.198807
2       apartment                         Guerrero  16.767704  -99.764383
3       apartment                         Guerrero  16.829782  -99.911012
4           house  Veracruz de Ignacio de la Llave        NaN         NaN
..            ...                              ...        ...         ...
695         house                          Morelos        NaN         NaN
696         house                          Yucatán  21.050653  -89.558841
697         house                          Yucatán  21.343796  -89.262060
698     apartment                       Nuevo León        NaN         NaN
699         house                        Querétaro  20.587378 -100.418361

     area_m2    price_usd
0        150   $67,965.56
1        186   $63,223.78
2         82   $84,298.37
3        150   $94,308.80
4        175   $94,835.67
..       ...          ...
695      310  $237,089.17
696      334  $137,017.34
697      130  $110,404.35
698      155  $184,446.42
699      106   $56,637.97

[700 rows x 6 columns]>

It looks like there are a couple of problems in this DataFrame that you need to solve. First, there are many rows with `NaN` values in the `"lat"` and `"lon"` columns. Second, the data type for the `"price_usd"` column is `object` when it should be `float`.

**Task 1.2.3:** Clean `df1` by dropping rows with `NaN` values. Then remove the `"$"` and `","` characters from `"price_usd"` and recast the values in the column as floats.

In [11]:
# Drop null values from df1
print(df1.dropna(inplace=True))
## Clean "price_usd" column in df1
#removing $ and ,
df1["price_usd"]= df1["price_usd"].str.replace("$","")
df1["price_usd"]= df1['price_usd'].str.replace(",","")
# Print object type, shape, and head
print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
df1.head()

None
df1 type: <class 'pandas.core.frame.DataFrame'>
df1 shape: (583, 6)

  property_type             state        lat         lon  area_m2  price_usd
0         house  Estado de México  19.560181  -99.233528      150   67965.56
1         house        Nuevo León  25.688436 -100.198807      186   63223.78
2     apartment          Guerrero  16.767704  -99.764383       82   84298.37
3     apartment          Guerrero  16.829782  -99.911012      150   94308.80
5         house           Yucatán  21.052583  -89.538639      205  105191.37

## Clean `df2`

Now it's time to tackle `df2`. Take a moment to inspect it using the same commands you used before. You'll notice that it has the same issue of `NaN` values, but there's a new problem, too: The home prices are in Mexican pesos (`"price_mxn"`), not US dollars (`"price_usd"`). If we want to compare all the home prices in this dataset, they all need to be in the same currency.

In [20]:
# Drop null values from df2
print(df2.dropna(inplace=True))
# Create "price_usd" column for df2 (19 pesos to the dollar in 2014)
exchange_rate=19
df2["price_usd"]= df2["price_mxn"]/exchange_rate

# Drop "price_mxn" column from df2
df2.drop("price_mxn",axis=1,inplace=True)
# Print object type, shape, and head
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
df2.head()

None
df2 type: <class 'pandas.core.frame.DataFrame'>
df2 shape: (571, 6)

,property_type,state,lat,lon,area_m2,price_usd
0,apartment,Nuevo León,25.721081,-100.345581,72,68421.052632
2,house,Morelos,23.634501,-102.552788,360,278947.368421
6,apartment,Estado de México,19.272040,-99.572013,85,65789.473684
7,house,San Luis Potosí,22.138882,-100.996510,158,111578.947368
8,apartment,Distrito Federal,19.394558,-99.129707,65,39904.736842

## Clean `df3`

Great work! We're now on the final DataFrame. Use the same `shape`, `info` and `head` commands to inspect the `df3`. Do you see any familiar issues?

You'll notice that we still have `NaN` values, but there are two new problems:

1. Instead of separate `"lat"` and `"lon"` columns, there's a single `"lat-lon"` column.
2. Instead of a `"state"` column, there's a `"place_with_parent_names"` column.

We need the resolve these problems so that `df3` has the same columns in the same format as `df1` and `df2`.

**Task 1.2.5:** Drop rows with `NaN` values in `df3`. Then use the [`split`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html) method to create two new columns from `"lat-lon"` named `"lat"` and `"lon"`, respectively.

In [30]:
#Drop rows with NaN
df3.dropna(inplace=True)

# Create "state" column for df3
df3 = df3.rename(columns={"place_with_parent_names": "state"})

# Drop "place_with_parent_names" and "lat-lon" from df3
df3[["lat","lon"]]=df3["lat-lon"].str.split(",",expand=True).head()
df3.drop("lat-lon",axis=1,inplace=True)
# Print object type, shape, and head
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)
df3.head()

df3 type: <class 'pandas.core.frame.DataFrame'>
df3 shape: (5, 6)

,property_type,state,area_m2,price_usd,lat,lon
0,apartment,|México|Distrito Federal|Gustavo A. Madero|Acu...,71,48550.59,19.52589,-99.151703
1,house,|México|Estado de México|Toluca|Metepec|,233,168636.73,19.2640539,-99.5727534
2,house,|México|Estado de México|Toluca|Toluca de Lerd...,300,86932.69,19.268629,-99.671722
4,apartment,|México|Veracruz de Ignacio de la Llave|Veracruz|,84,68508.67,19.511938,-96.871956
5,house,|México|Jalisco|Guadalajara|,175,102763.00,20.689157,-103.366728

## Concatenate DataFrames

Great work! You have three clean DataFrames, and now it's time to combine them into a single DataFrame so that you can conduct your analysis.

**Task 1.2.7:** Use [`pd.concat`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) to concatenate `df1`, `df2`, `df3` as new DataFrame named `df`. Your new DataFrame should have 1,736 rows and 6 columns:`"property_type"`, `"state"`, `"lat"`, `"lon"`, `"area_m2"`, and `"price_usd"`.

In [31]:
# Concatenate df1, df2, and df3
df = pd.concat([df1, df2, df3], ignore_index=True)

# Print object type, shape, and head
print("df type:", type(df))
print("df shape:", df.shape)
df.head()

df type: <class 'pandas.core.frame.DataFrame'>
df shape: (1159, 6)

  property_type             state        lat         lon  area_m2  price_usd
0         house  Estado de México  19.560181  -99.233528      150   67965.56
1         house        Nuevo León  25.688436 -100.198807      186   63223.78
2     apartment          Guerrero  16.767704  -99.764383       82   84298.37
3     apartment          Guerrero  16.829782  -99.911012      150   94308.80
4         house           Yucatán  21.052583  -89.538639      205  105191.37

## Save `df`

The data is clean and in a single DataFrame, and now you need to save it as a CSV file so that you can examine it in your exploratory data analysis.

**Task 1.2.8:** Save `df` as a CSV file using the [`to_csv`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html) method. The file path should be `"./data/mexico-real-estate-clean.csv"`. Be sure to set the `index` argument to `False`.

In [33]:
# Save df

df.to_csv("./sample_data/mexico-real-estate-clean.csv", index=False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')